/HardScratch/HardScratch/nbproject/private/
/HardScratch/HardScratch/build/
/HardScratch/HardScratch/dist/
/HardScratch/HardScratch/src/res/vmess/GHDL
/HardScratch/HardScratch/HardScratch/src/res/vmess/ghdl
/VME2/ghdl