/HardScratch/HardScratch/nbproject/private/
/HardScratch/HardScratch/build/
/HardScratch/HardScratch/dist/
/HardScratch/HardScratch/store/
/HardScratch/HardScratch/src/res/vmess/GHDL/
/VME2/ghdl/
/HardScratch/DISTRIBUTE/OpenJDK11/
/HardScratch/DISTRIBUTE/HardScratch.jar
/HardScratch/DISTRIBUTE/HardScratch.exe